/* * {
    border: 1px solid red;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: white;
  background-image: url("../../toolset-frontend/src/assets/background-blank-business-craft-301703\ \(1\).jpg");
  /* background-image: url("../../toolset-frontend/src/assets/apple-blank-business-computer-442574.jpg"); */
  /* background-image: url("../../toolset-frontend/src/assets/analysis-blackboard-board-bubble-355952.jpg"); */
  padding: 25px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* backdrop-filter: blur(2x); */
 
  /* backdrop-filter: opacity(60%); */
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
    background: rgba(20, 4, 4, 0.424);
    z-index: 10;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

@font-face {
    font-family: "PWChalk";
    src: url("./assets/fonts/PWCHALK.TTF");
}
  
@font-face {
    font-family: "Right_Chalk";
    src: url("./assets/fonts/RIGHT_CHALK.TTF");
}

@font-face {
    font-family: "Big_Marker";
    src: url("./assets/fonts/BIG_MARKER.TTF");
}

@font-face {
    font-family: "CFCrayons";
    src: url("./assets/fonts/CFCRAYONS-REGULAR.TTF");
}
.nav-link {
    color: #df5718;
    text-decoration: none;
    font-family: "Right_Chalk";
}

.layout-link {
    color: #008B8B;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 3px;
    padding-bottom: 5px;
    
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    font-weight: bold;
    font-size: x-large;
    letter-spacing: 3px;
}

.link-color {
    color: #008B8B;
    font-weight: bold;
    font-size: large;
}


.attempt-content {
    color: #008B8B;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}


.title {
    padding-left: 20px;
}
  
.search {
    justify-content: space-around;
    width: 50%;
    text-align: left;
    padding: 4px;
    font-size: 10px;
    border-radius: 4px;
    margin-left: auto;
}
  
  
.search-form {
    text-align: center;
    float: right;
    /* margin: 5px; */
}

.content-form {
    /* font-size: 10px; */
    width: 100%;
    border-radius: 4px;
    text-align: center;
    margin: 5px;
}

.attempt-form {
    /* font-size: 10px; */
    width: 100%;
    height: 100px;
    border-radius: 4px;
    text-align: center;
    margin: 5px;
}

#logo {
    width: 325px;
}


.page {
    padding-top: 100px;
    /* background-image: url("../../toolset-frontend/src/assets/board-bright-design-fabric-235994.jpg"); */
    /* background-image: url("../../toolset-frontend/src/assets/background-blank-business-craft-301703\ \(1\).jpg");
    padding: 25px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; */
  
    /* background-color: #008B8B; */
    /* background-size: 1000px 1000px; */
    /* background-size: 100%; */

    /* background: rgba(20, 4, 4, 0.424);
    z-index: 10;
    overflow: hidden; */
    /* display: flex; */
    /* justify-content: space-around; */

}

.profile-page {
    background-image: url("../../toolset-frontend/src/assets/flat-lay-photography-of-hand-tools-1029243.jpg")
}

.headlines {
    color: white;
    letter-spacing: 3px;
    font-family: "Right_Chalk";
    /* font-family: "PWChalk"; */
}
.headline-md,h2,form {
    display:inline-block !important;
}

.headline-md {
    width:80px !important;
    margin-right:15px !important;
    display:inline-block !important;
}

.about-page {
    padding-top: 100px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.welcome-page {
    background-image: url("../../toolset-frontend/src/assets/analysis-blackboard-board-bubble-355952.jpg");
}

.feedback {
    color: #008B8B;
    font-weight: bold;
}

.errors {
    color: red;
    font-weight: bold;
    border: 2px solid red
}